{% from 'openldap/map.jinja' import openldap with context %}
dn: {{ openldap.server.defaultdn }}
changetype: modify
replace: olcSuffix
olcSuffix: {{ openldap.domain.suffix }}

dn: {{ openldap.server.defaultdn }}
changetype: modify
replace: olcRootDN
olcRootDN: {{ openldap.domain.rootdn }}

dn: {{ openldap.server.defaultdn }}
changetype: modify
replace: olcRootPW
olcRootDN: {{ openldap.domain.rootpw }}

dn: {{ openldap.server.defaultdn }}
delete: olcAccess

{% for access in openldap.db.access %}
dn: {{ openldap.server.defaultdn }}
changetype: modify
add: olcAccess
olcAccess: {{ access }}
{% endfor %}

