{% from 'openldap/map.jinja' import openldap with context %}
dn: {{ openldap.server.db.configdn }}
changetype: modify
replace: olcSuffix
olcSuffix: {{ openldap.server.domain.suffix }}

dn: {{ openldap.server.db.configdn }}
changetype: modify
replace: olcRootDN
olcRootDN: {{ openldap.server.domain.rootdn }}

dn: {{ openldap.server.db.configdn }}
changetype: modify
replace: olcRootPW
olcRootPW: {{ openldap.server.domain.rootpw }}

